<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
	<!-- Properties file location specific to Jetty deployments. -->
	<context:property-placeholder location="file:${jetty.home}/conf/havalo.properties"
    	ignore-unresolvable="true" ignore-resource-not-found="true" order="1" />
    
    <!-- Properties file location specific to Tomcat deployments. -->
    <context:property-placeholder location="file:${catalina.home}/conf/havalo.properties"
    	ignore-unresolvable="true" ignore-resource-not-found="true" order="2" />
    	
   	<!-- The default Havalo application properties (packaged with .war). -->
	<context:property-placeholder location="classpath:havalo.default.properties"
		ignore-unresolvable="true" order="3" />

    <!-- Supporting beans -->
    
    <bean id="multipartResolver"
   		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   		<!-- 1GB -->
   		<property name="maxUploadSize" value="1073741824" />
   		<!-- 1MB -->
   		<property name="maxInMemorySize" value="1048576" />
   		<!-- Upload temp directory -->
   		<property name="uploadTempDir" value="${temp.upload.directory}" />
   	</bean>
   	   	
   	<bean id="RepositoryManager"
   		class="com.kolich.havalo.io.managers.RepositoryManager">
   		<constructor-arg value="${repository.base}"/>
   		<property name="maxFilenameLength" value="2" />
   		<property name="maxRepositoryCacheSize" value="10" />   		
   	</bean>
   	
   	<!-- Bootstrap -->
   	
   	<bean id="HavaloBootstrap"
   		class="com.kolich.havalo.spring.beans.HavaloBootstrap"
   		depends-on="RepositoryManager">
   		<property name="repositoryManager" ref="RepositoryManager" />
   		<property name="adminApiUUID" value="${api.admin.uuid}" />
   		<property name="adminApiSecret" value="${api.admin.secret}" />
   	</bean>
   	
</beans>